<?xml version="1.0"?>

<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_diag" args="record -o /media/nvidia/data/dec/bag/mapping_low_ -a -x '(.*)compressed(.*)'"/>   
    <arg name="db_file_name_prefix"  default="" />
    <arg name="rtabmap"              default="false" />
    
    <include file="uta_racecar_mapping.launch">
        <arg name="rtabmap" value="$(arg rtabmap)" />
        <arg name="rtabmapviz" value="false" />
        <arg name="rviz" value="false" />
        <arg name="db_file_name_prefix" value="$(arg db_file_name_prefix)" />
    </include>
</launch>